<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>7old - searching for vintage!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: #FAFAFA;
        }
    </style>
</head>

<body>
    <div align="right">
        <a href="/new">Submit your website</a>
    </div>
    <div align="center">
        <a href="/"><img src="/static/logo_small.png" alt="7old logo"></a>
    </div>
    <form method="get">
        <div align="center">
            <input type="text" name="q" size="40">
            <input type="submit" value="Search">
        </div>
    </form>
    <div align="center">
        <p>©1999 dacousb - <a href="/about">about</a></p>
    </div>
</body>

</html>