<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>7old - submit your site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: #FAFAFA;
        }
    </style>
</head>

<body>
    <div align="right">
        <a href="/">Home</a>
    </div>
    <div align="center">
        <a href="/"><img src="/static/logo_small.png" alt="7old logo"></a>
    </div>
    <form method="get" action="new">
        <div align="center">
            <p>This little form will submit your website to our crawling service. You should be excited!</p>
            <input type="text" name="q" size="40">
            <input type="submit" value="Submit">
        </div>
    </form>
    <div align="center">
        <p>©1999 dacousb - <a href="/about">about</a></p>
    </div>
</body>

</html>